# Flutter/Dart/Pub
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
*.apk
*.aar

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Runner.xcworkspace/
ios/Runner/GeneratedPluginRegistrant.*
ios/Runner/Flutter.podspec
*.ipa

# Misc
*.log
*.lock
*.tmp
*.swp
*.DS_Store
